@import "colors.css";


/* ========================
   Global
   ======================== */

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 1rem;
    min-height: 0;
    padding: 0.1rem 0.25rem;
}

/* ========================
   Bar Window
   ======================== */

window#waybar {
    background: linear-gradient(
        180deg,
        rgba(17, 20, 15, 0.85) 0%,
        rgba(17, 20, 15, 0.35) 78%,
        rgba(17, 20, 15, 0.0) 100%
    );
    color: @on_background;
}

/* ========================
   Buttons
   ======================== */

button {
    box-shadow: inset 0 0 transparent;
    color: transparent;
    border: none;
    border-radius: 0rem;
}

/* ========================
   Workspaces
   ======================== */

#workspaces {
    background: transparent;
    padding: 0.1rem 0.65rem;
    margin: 0.1rem 0rem;
}

#workspaces button {
    margin: 0 0.2rem;
    padding: 0 0.25rem;
    border-radius: 0.3rem;
    color: @on_background;
    border: 0.09rem solid @surface_variant;
    transition-duration: .1s;
}

/* Empty workspace */
#workspaces button.empty {
    color: @on_background;
    border: 0.1rem solid transparent;
}

/* Hover */
#workspaces button:hover {
    color: @on_primary;
    background: transparent;
    border: 0.1rem solid @surface_tint;
}

/* Visible workspace (other monitor) */
#workspaces button.visible {
    color: @on_primary;
    background: rgba(164, 211, 150, 0.45); /* @primary @ ~45% */
    font-weight: bold;
    border: 0.1rem solid @surface_tint;
}

/* Active workspace (current) */
#workspaces button.active {
    color: @on_primary;
    background: @primary;
    font-weight: bold;
    border: 0.1rem solid @surface_tint;
}

/* Urgent */
@keyframes blink-orange {
    to {
        background: rgba(255, 180, 171, 1);
    }
}

#workspaces button.urgent {
    animation-name: blink-orange;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
    animation-direction: alternate;
}

/* ========================
   Modules
   ======================== */

#clock,
#battery,
#network,
#pulseaudio,
#tray {
    margin: 2px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

/* Alignment fixes */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */
.modules-right {
  margin-right: 16px;
}

/* ========================
   Battery
   ======================== */

#battery {
    color: @primary;
}

#battery.discharging {
    color: @on_background;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    color: #ffb4ab;
}

